@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

html body {
    margin: 0%;
    padding: 0%;
}

.navbar-container {
    background-color: #212832;
    height: 100px;
    width: 100%;
    position: fixed;
}

.navbar-content {
    width: 75%;
    height: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.navbar-brand {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 700;
}

.navbar-lists {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    list-style: none;
}

.navbar-list {
    margin: 0 10px;
    color: white;
    font-size: 15;
    font-weight: 700;
    transition: color .2s linear;
}

.navbar-list:hover {
    color: #1abc9c;
    cursor: pointer;
}